/* !***CUSTOM VARIABLES *** */
:root {
  /* Colors */
  --primary-background-color: #1c9cf6;
  --primary-color: #e3f4fe;

  /* Fonts */
  --primary-font-family: "Poppins", san-serif;
}

/* !*** GENERAL *** */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background: #19c3fb;
  min-height: 100%;
  font-size: 16px;
}

/* *** MOBILE CONTAINER *** */
.mobile-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #19c3fb;
  background: -moz-linear-gradient(to bottom, #19c3fb, #1c9cf6, #1d71f2);
  background: -webkit-linear-gradient(to bottom, #19c3fb, #1c9cf6, #1d71f2);
  background: linear-gradient(to bottom, #19c3fb, #1c9cf6, #1d71f2);
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  padding-top: 15vh;
  -webkit-tap-highlight-color: transparent;
}

/* !*** SEARCH FIELD *** */
.search {
  max-width: 75vw;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.search-input,
.btn-search {
  background-color: var(--primary-color);
  border: 1px solid #e8e8e8;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

/* !*** SEARCH INPUT *** */
.search-input {
  border-top-left-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 0;
  max-width: 60vw;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.search-input:focus {
  outline: none;
}

/* !*** SEARCH BUTTON *** */
.btn-search {
  border-left: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: -4.5px;
}

.btn-search:hover {
  cursor: pointer;
}

/* !*** CLEAR SEARCH BUTTON *** */
.btn-clear-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 21%;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: gray;
  display: none;
  cursor: pointer;
}

.show-btn-clear-search {
  display: block;
}

/* !*** RESULTS DISPLAY *** */
.results {
  text-align: center;
}

.location {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 4rem;
}

.conditions-img {
  transform: scale(1.5);
}

.current-temp {
  font-size: 4rem;
  font-weight: 200;
}

.high-low {
  margin: 0;
}

.additional-info {
  font-size: 0.8rem;
  padding-top: 2rem;
}

.additional-info p {
  padding: 0.2rem 0;
}

.conditions-img {
  padding-top: 1rem;
  transform: scale(1.5);
}
.conditions-img {
  padding-top: 1rem;
  transform: scale(1.5);
}

.no-text-entered {
  text-align: center;
  padding: 30vh 10% 0;
}

.no-results {
  text-align: center;
  padding: 10vh 10% 0;
}

.no-results-img {
  width: 50%;
  height: auto;
}

.search-word {
  color: #fff;
  font-style: italic;
}

/* !*** COPY INFO *** */
.copy {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  text-align: center;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 0.75rem;
}

.fa-heart {
  color: var(--primary-color);
}

.designer {
  font-weight: 400;
}

/* !*** MEDIA QUERIES *** */
/* Laptops & large screens minimum width 1199.98px */
@media only screen and (min-width: 1200px) {
  .btn-clear-search {
    display: none;
  }
}

/* Small phones maximum width 320px */
@media only screen and (max-width: 330px) {
  body {
    font-size: 0.8rem;
    padding-top: 10vh;
  }

  /* !*** SEARCH *** */
  .search-input,
  .btn-search {
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
  }

  /* !*** SEARCH BUTTON *** */
  .btn-search {
    margin-left: -3.5px;
  }

  /* !*** RESULTS DISPLAY *** */
  .location {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 2rem;
  }

  /* !*** COPY INFO *** */
  .copy {
    font-size: 0.1rem;
  }
}

/* Tiny phones maximum width 265px */
@media only screen and (max-width: 265px) {
  body {
    font-size: 0.7rem;
    padding-top: 10vh;
  }

  /* !*** SEARCH *** */
  .search {
    max-width: 85vw;
  }

  .search-input,
  .btn-search {
    font-size: 0.7rem;
    padding: 0.5rem 0.8rem;
  }

  /* !*** SEARCH BUTTON *** */
  .btn-search {
    margin-left: -3.5px;
  }

  /* !*** CLEAR SEARCH BUTTON *** */
  .btn-clear-search {
    font-size: 0.8rem;
    right: 22%;
  }

  /* !*** RESULTS DISPLAY *** */
  .location {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2rem;
  }

  /* !*** COPY INFO *** */
  .copy {
    font-size: 0.2rem;
  }
}
