/* !***CUSTOM VARIABLES *** */
:root {
  /* Colors */
  --primary-background-color: #1c9cf6;
  --primary-color: #e3f4fe;

  /* Fonts */
  --primary-font-family: "Poppins", san-serif;
}

/* !*** GENERAL *** */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #19c3fb;
  background: -moz-linear-gradient(to bottom, #19c3fb, #1c9cf6, #1d71f2);
  background: -webkit-linear-gradient(to bottom, #19c3fb, #1c9cf6, #1d71f2);
  background: linear-gradient(to bottom, #19c3fb, #1c9cf6, #1d71f2);
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  font-size: 16px;
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  padding-top: 15vh;
}

/* !*** SEARCH FIELD *** */
.search {
  max-width: 75vw;
  overflow: hidden;
}

.search-input,
.btn-search {
  background-color: var(--primary-color);
  border: 1px solid #e8e8e8;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

/* !*** SEARCH INPUT *** */
.search-input {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  max-width: 60vw;
}

.search-input:focus {
  outline: none;
}

/* !*** SEARCH BUTTON *** */
.btn-search {
  border-left: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: -4.5px;
}

.btn-search:hover {
  cursor: pointer;
}

/* !*** COPY INFO *** */
.copy {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  text-align: center;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 0.8rem;
}

.designer {
  font-weight: 400;
}
